@-webkit-keyframes a {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes a {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes b {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,15%,0);
        transform: translate3d(0,15%,0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes b {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,15%,0);
        transform: translate3d(0,15%,0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.hidden {
    display: none!important
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit
}

.invisible {
    visibility: hidden
}

.clearfix:after,.clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

@font-face {
    font-family: IBM Plex Sans;
    src: url(../fonts/IBMPlexSans-Text.eot);
    src: url(../fonts/IBMPlexSans-Text.eot?#iefix) format("embedded-opentype"),url(../fonts/IBMPlexSans-Text.woff2) format("woff2"),url(../fonts/IBMPlexSans-Text.woff) format("woff"),url(../fonts/IBMPlexSans-Text.ttf) format("truetype"),url("../fonts/IBMPlexSans-Text.svg#IBM Plex Sans") format("svg");
    font-weight: 500;
    font-style: normal
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family:IBM Plex Sans;
        src: url("../fonts/IBMPlexSans-Text.svg#IBM Plex Sans") format("svg")
    }
}

@font-face {
    font-family: IBM Plex Sans;
    src: url(../fonts/IBMPlexSans-Bold.eot);
    src: url(../fonts/IBMPlexSans-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/IBMPlexSans-Bold.woff2) format("woff2"),url(../fonts/IBMPlexSans-Bold.woff) format("woff"),url(../fonts/IBMPlexSans-Bold.ttf) format("truetype"),url("../fonts/IBMPlexSans-Bold.svg#IBM Plex Sans") format("svg");
    font-weight: 700;
    font-style: normal
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family:IBM Plex Sans;
        src: url("../fonts/IBMPlexSans-Bold.svg#IBM Plex Sans") format("svg")
    }
}

@font-face {
    font-family: IBM Plex Mono;
    src: url(../fonts/IBMPlexMono-Medium.eot);
    src: url(../fonts/IBMPlexMono-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/IBMPlexMono-Medium.woff2) format("woff2"),url(../fonts/IBMPlexMono-Medium.woff) format("woff"),url(../fonts/IBMPlexMono-Medium.ttf) format("truetype"),url("../fonts/IBMPlexMono-Medium.svg#IBM Plex Mono") format("svg");
    font-weight: 500;
    font-style: normal
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family:IBM Plex Mono;
        src: url("../fonts/IBMPlexMono-Medium.svg#IBM Plex Mono") format("svg")
    }
}

html {
    box-sizing: border-box
}

*,:after,:before {
    box-sizing: inherit
}

body {
    margin: 0;
    background-color: #222;
    overflow-x: hidden
}

body:after {
    display: none
}

@media (min-width: 62.31em) {
    body:after {
        content:"medium"
    }
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 1px;
    overflow: visible;
    margin: 0 0 1.5em;
    padding: 0;
    border: 0;
    border-top: 1px solid hsla(55,62%,89%,.3)
}

img {
    border-style: none
}

embed,img,object,video {
    max-width: 100%;
    height: auto!important;
    margin: 0 0 .75em
}

audio,canvas,iframe,img,svg,video {
    vertical-align: middle
}

svg:not(:root) {
    overflow: hidden
}

details,menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-kerning: auto;
    font-kerning: auto
}

html {
    font-family: IBM Plex Sans,helvetica,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.333333333rem;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #f4f1d0
}

@media (min-width: 147.69em) {
    html {
        font-size:1.7777777769rem
    }
}

::-moz-selection {
    background: #111;
    color: #f4f1d0;
    text-shadow: none
}

::selection {
    background: #111;
    color: #f4f1d0;
    text-shadow: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,strong {
    font-weight: inherit;
    font-weight: bolder
}

code,kbd,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 60%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

h1,h2,h3,h4,h5,h6 {
    font-family: IBM Plex Sans,helvetica,sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.25
}

h1 {
    margin: 0 0 1.5em;
    font-size: 3.160493824rem
}

h2 {
    margin: 0 0 1em;
    font-size: 2.3703703686rem
}

h3 {
    margin: 0 0 .75em;
    font-size: 1.7777777769rem
}

h4 {
    margin: 0 0 .5em;
    font-size: 1.333333333rem
}

h5 {
    margin: 0 0 .375em;
    font-size: 1rem
}

h6 {
    margin: 0 0 .3em;
    font-size: .7500000002rem
}

p {
    margin: 0 0 1.5em
}

a {
    transition: color .4s cubic-bezier(.455,.03,.515,.955);
    color: #f4f1d0;
    text-decoration: underline
}

a:hover {
    color: #fff
}

a:focus {
    outline: none
}

.text-lrg,a:active,a:focus {
    color: #f4f1d0
}

.text-lrg {
    margin: 0;
    font-family: IBM Plex Sans,helvetica,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem
}

@media (min-width: 62.31em) {
    .text-lrg {
        font-size:1.7777777769rem
    }
}

.text-link,.text-sml {
    font-size: .7500000002rem
}

@media screen and (min-width: 30.77em) {
    .text-link {
        font-size:calc(.7500000002rem + strip-unit0.2499999998rem * (100vw - 30.77em) / strip-unit43.076em)
    }
}

@media screen and (min-width: 73.846em) {
    .text-link {
        font-size:1rem
    }
}

.text-link svg {
    margin: 0 .5em
}

.text-grey {
    opacity: .3
}

.text-align-right {
    text-align: right
}

.text-align-left {
    text-align: left
}

.text-align-center {
    text-align: center
}

.text-block {
    max-width: 40em
}

.btn {
    font-family: IBM Plex Sans,helvetica,sans-serif;
    font-weight: 700;
    font-style: normal;
    transition: all .4s cubic-bezier(.455,.03,.515,.955);
    position: relative;
    display: inline-block;
    width: auto;
    padding: 1.5em;
    vertical-align: middle;
    font-size: .5625000003rem;
    letter-spacing: .15em;
    color: #f4f1d0;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #111;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media screen and (min-width: 30.77em) {
    .btn {
        font-size:calc(.5625000003rem + strip-unit0.1874999999rem * (100vw - 30.77em) / strip-unit43.076em)
    }
}

@media screen and (min-width: 73.846em) {
    .btn {
        font-size:.7500000002rem
    }
}

.btn svg {
    margin-right: .75em
}

.btn:hover {
    background-color: #000;
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
    color: #fff
}

.btn:focus {
    outline: none
}

body {
    margin: 0;
    background-color: #222;
    overflow-x: hidden;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    padding: .75em 0;
    transition: background-color .2s cubic-bezier(.455,.03,.515,.955);
}

.header_container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 .75em;
}

.header__link, .header__title {
    font-family: IBM Plex Mono,helvetica,sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .7500000002rem;
}

.header__title {
    position: relative;
    padding-left: 0;
    margin: 0;
    line-height: 1.5;
}

.header__title a {
    display: block;
    text-decoration: none;
}

.header__link {
    display: inline-block;
    padding: .375em .75em;
    text-decoration: none;
    border: 1px solid #f4f1d0;
}

.header.is-scrolled {
    background-color: rgba(34,34,34,.8);
}

.wrapper {
    overflow: hidden;
}

.intro {
    position: relative;
    height: 100vh;
    color: #f4f1d0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width:768px) and (device-height:1024px) and (orientation:portrait) {
    .intro {
        height:1024px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width:768px) and (device-height:1024px) and (orientation:landscape) {
    .intro {
        height:768px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width:320px) and (device-height:480px) and (orientation:portrait) {
    .intro {
        height:480px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width:320px) and (device-height:480px) and (orientation:landscape) {
    .intro {
        height:320px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width:320px) and (device-height:568px) and (orientation:portrait) {
    .intro {
        height:568px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width:320px) and (device-height:568px) and (orientation:landscape) {
    .intro {
        height:320px
    }
}

.intro__container {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (min-width: 62.31em) {
    .intro__container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: rows;
        flex-direction: rows;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 1.5em
}

.container--med {
    max-width: 62.31em;
}

.intro__section {
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
}

@media (min-width: 62.31em) {
  .intro__section {
      padding: 0 1.5em;
  }
}

.js .intro__title {
    opacity: 0;
}


.intro__title {
    margin: 0 0 .75em;
    font-size: 1.333333333rem;
    line-height: 1;
    text-align: center;
    -webkit-animation: b 1.2s .2s cubic-bezier(.455,.03,.515,.955) forwards;
    animation: b 1.2s .2s cubic-bezier(.455,.03,.515,.955) forwards;
}

.intro__title:before {
    content: "JISON + ECMA262 = ";
    display: block;
    margin: 0 0 .375em;
    font-family: IBM Plex Mono,helvetica,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
}

@media (min-width: 62.31em) {
  .intro__title {
    margin: 0;
    text-align: inherit;
  }
}
@media screen and (min-width: 62.31em) {
  .intro__title {
    font-size: 2.3703703686rem;
  }
}

@media screen and (min-width: 30.77em) {
  .intro__title {
    font-size: calc(1.333333333rem + strip-unit1.0370370356rem * (100vw - 30.77em) / strip-unit18.46em);
  }
}


.intro__graphic {
    position: relative;
    height: 0;
    padding-bottom: 60%
}

.intro__graphic svg,
.intro__graphic img {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: visible;
    transform: translate(-50%, -50%) scale(1.8);
}

@media (max-width: 31.25em) {
    .intro__graphic svg {
        max-height: none;
        margin-top: 1.5em;
        transform: translate(-50%, -50%) scale(1.5);
    }
}

@media (min-width: 62.31em) {
    .intro__graphic svg {
        max-height: none;
    }
}

@media (min-width: 73.846em) {
    .intro__graphic svg {
        max-height: none;
        transform: translate(-50%, -50%) scale(2);
    }
}


.section {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 1.5em .75em 0 .75em;
}

.section--full {
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: center;
    justify-content: center
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width:768px) and (device-height:1024px) and (orientation:portrait) {
    .section--full {
        height:1024px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width:768px) and (device-height:1024px) and (orientation:landscape) {
    .section--full {
        height:768px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width:320px) and (device-height:480px) and (orientation:portrait) {
    .section--full {
        height:480px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width:320px) and (device-height:480px) and (orientation:landscape) {
    .section--full {
        height:320px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width:320px) and (device-height:568px) and (orientation:portrait) {
    .section--full {
        height:568px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width:320px) and (device-height:568px) and (orientation:landscape) {
    .section--full {
        height:320px
    }
}

.section--flush {
    padding: 0
}

.section__title {
    display: inline-block;
    margin: 1em 0 1em 0;
    font-weight: 500;
    font-style: normal;
    font-size: 1.7777777769rem;
}

.markdown__body blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #f4f1d0;
}

.markdown__body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #23241f;
  border-radius: 3px;
  color: #f8f8f2;
  border: 1px solid #dfe2e5;
}

.markdown__body h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.markdown__body h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

.markdown__body p, .markdown__body blockquote, .markdown__body ul, .markdown__body ol, .markdown__body dl, .markdown__body table, .markdown__body pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown__body table {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown__body table th, .markdown__body table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown__body table tr {
  background-color: #23241f;
  border-top: 1px solid #dfe2e5;
}

.markdown__body table tr:nth-child(2n) {
  background-color: #111;
}

.markdown__body a {
  text-decoration: none;
  transition: color .4s cubic-bezier(.455,.03,.515,.955)
}
